@font-face {
    font-family: 'Baloo Tamma';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g8.eot); /* http://fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g8.eot */
    src: local('☺'),
        url(//fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g8.eot) format('embedded-opentype'), /* http://fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g8.eot */
        url(//fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7gs.woff2) format('woff2'), /* http://fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7gs.woff2 */
        url(//fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g0.woff) format('woff'), /* http://fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g0.woff */
        url(//fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g7J-d51.ttf) format('truetype'), /* http://fonts.gstatic.com/s/balootamma/v4/JTUTjIk68Cy27gWhOWIghH5G7g7J-d51.ttf */
        url(//fonts.gstatic.com/l/font?kit=JTUTjIk68Cy27gWhOWIghH5G7gw&skey=4e17e9c5a355a699&v=v4#BalooTamma) format('svg'); /* http://fonts.gstatic.com/l/font?kit=JTUTjIk68Cy27gWhOWIghH5G7gw&skey=4e17e9c5a355a699&v=v4#BalooTamma */
}
